.user_profile {
    text-align: center;
    margin-left: 25px;
   
}

.profilePicture{
   
    border-radius: 50%;
    cursor: pointer;
    margin:  10px auto; 
    width: 40px;
}

.userButton {
    background: rgb(121, 121, 219);
    color: white;
    margin: 10px auto;
}

