* {
  list-style: none;
  text-decoration: none;
 
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  color: white;
  width: 100%;
  margin: auto;
 
}

.nav-links {
  display: inline-flex;
  
  margin: 0;
  
}

.nav-links li {
  padding: 0 10px;
  color: white;
  padding: 10px;
  transition: 300ms;
  
}
.nav-links li:hover {
  padding: 0 10px;
  color: black;
  background: white;
  
  padding: 10px;
  
}

.tip {
  background: red;
  width: 90%;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*------Search bar CSS settings -------*/

body {
  margin: 0;
  padding: 0;

}

.searchBarContainer {
  height: 70px;
  
}

.searchBox {
  background: #2f3640;
 
 height: 40px;
 border-radius: 40px;
 padding: 10px;
 display: flex;
 justify-content: space-between;
 
 position: absolute;
 top: 12%;
 left: 50%;
 transform: translate(-50%, -50%);
 
}

.searchBox:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
  
}
.searchBox:hover > .search-btn {
  background: whitesmoke;
  
}


.search-btn {
  color: #e84118;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  transition: 0.4s;
  border: none;

}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}



